extends navbarAdmin

block content
    
    .container
        .row
            .col-sm-12.col-md-6
                form(action="/useradmin/change-access" method="post")
                    div.card.mx-auto.rounded.border-secondary(style="max-width:500px;")
                        h5.card-header.text-capitalize.bg-danger.text-white
                            | Cambiar Usuario
                        .card-body
                            .form-group
                                label.h6(for='usuario') Nuevo usuario
                                    span.text-danger  (*)
                                input#usuario.form-control(type='text' name="usuario" required)
                            input#carga2.btn.btn-outline-primary.btn-lg.btn-block(type="submit", value="Cambiar usuario")
                br
            .col-sm-12.col-md-6
                form(action="/useradmin/change-password" method="post")
                    div.card.mx-auto.rounded.border-secondary(style="max-width:500px;")
                        h5.card-header.text-capitalize.bg-danger.text-white
                            | Cambiar Contraseña
                        .card-body
                            .form-group
                                label.h6(for='clave') Nueva Contraseña
                                    span.text-danger  (*)
                                input#clave.form-control(type='password' name="clave" required)
                            .form-group
                                label.h6(for='confirmarClave') Repetir Contraseña
                                    span.text-danger  (*)
                                input#confirmarClave.form-control(type='password' name="confirmarClave" required)
                            input#carga.btn.btn-outline-primary.btn-lg.btn-block(type="submit", value="Cambiar clave")
    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/valida.js")
