extends navbar

block content
    
    .container
        form(action="/validation/change-password" method="post")
            div.card.mx-auto.rounded.border-secondary(style="max-width:500px;")
                h5.card-header.text-capitalize.bg-danger.text-white
                    | Cambiar Contrase単a
                .card-body
                    .form-group
                        label.h6(for='user') Contrase単a Anterior 
                            span.text-danger  (*)
                        input#claveAnterior.form-control(type='password' name="claveAnterior" required)
                    .form-group
                        label.h6(for='passwd') Nueva Contrase単a
                            span.text-danger  (*)
                        input#clave.form-control(type='password' name="clave" required)
                    .form-group
                        label.h6(for='passwd') Repetir Contrase単a
                            span.text-danger  (*)
                        input#confirmarClave.form-control(type='password' name="confirmarClave" required)
                    input#carga.btn.btn-outline-primary.btn-lg.btn-block(type="submit", value="Cambiar")
    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/valida.js")
