extends navbarAdmin

block content
    .container
        .card.mx-auto.rounded.border-secondary
            h5.card-header.text-capitalize.bg-danger.text-white
                | Docentes #{tipoDocente}
            .card-body
                .table-responsive#contenido
                    table#tabla.table.table-bordered.table-hover
                        thead.thead-light.text-capitalize.none
                            tr
                                th.none Nombre
                                th.none Categoria
                                th.none Dedicación
                                th.none CV
                                th.none Modificar
                            tr
                                th(colspan="5")
                                    input#buscar.form-control.mr-sm-2(type='text', placeholder='Buscar')
                        tbody.text-capitalize.none
                            for docente in docentes
                                tr
                                    td.align-middle.none #{docente.nombre}
                                    if ( docente.categoria == 0)
                                        td.align-middle.none Principal
                                    else if ( docente.categoria == 1)
                                        td.align-middle.none Auxiliar
                                    else if ( docente.categoria == 2)
                                        td.align-middle.none Asociado
                                    if (docente.dedicacion == 0)
                                        td.align-middle.none Tiempo Completo
                                    else if (docente.dedicacion == 1)
                                        td.align-middle.none Tiempo Parcial
                                    else if (docente.dedicacion == 2)
                                        td.align-middle.none Dedicación Exclusiva
                                    td.align-middle.none #{docente.cv}
                                    td.align-middle.none
                                        form(action="/userAdmin/docentes/modificar", method="post")
                                            input(type="hidden", name="id_docente" value=docente.id)
                                            input.btn.btn-primary(type="submit", value="Modificar")
    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/main.js")