doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    title #{title}
  body#fondo1
    block navbar
    br
    br
    block content

    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/bootstrap.min.js")