extends layoutAdmin

block navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-danger.fixed-top
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        a.navbar-brand(href='/userAdmin/inicio') 
            img(src="/images/logo_actual.png", alt="logo de la universidad" style="width:175px")
        #navbarTogglerDemo03.collapse.navbar-collapse
            ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                li.nav-item.barra
                    a.nav-link(href='/userAdmin/inicio') Inicio 
                li.nav-item.dropdown.barra
                    a.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Gestión
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        a.dropdown-item(href='/userAdmin/docentes/ingresar') Ingresar Docente
                        a.dropdown-item(href='/userAdmin/docentes/modificar') Modificar Docente
                li.nav-item.dropdown.barra
                    a.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Docentes
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        a.dropdown-item(href='/userAdmin/docentes/facultad') Docentes Facultad
                        a.dropdown-item(href='/userAdmin/docentes/dina') Docentes Dina
                        a.dropdown-item(href='/userAdmin/docentes/regina') Docentes Regina
                li.nav-item.dropdown.barra
                    a.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Proyectos
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        a.dropdown-item(href='/userAdmin/proyectos/2018') Proyectos 2018
                        a.dropdown-item(href='/userAdmin/proyectos/2019') Proyectos 2019
                        a.dropdown-item(href='/userAdmin/proyectos/2020') Proyectos 2020
                li.nav-item.dropdown.barra
                    a.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Seguridad
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        a.dropdown-item(href='/userAdmin/change') Cambiar Datos de Acceso
            form.form-inline.my-2.my-lg-0
                // input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                .btn-group
                    a.btn.btn-light.disabled.text-capitalize #{usuario.nombre} #{usuario.apellido}
                    a.btn.btn-outline-danger.my-2.my-sm-0(href="/userAdmin") Salir
block content
