extends layout

block navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-danger.fixed-top
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        a.navbar-brand(href='/inicio') 
            img(src="/images/pre-min.png", alt="logo de la universidad" style="width:50px")
        #navbarTogglerDemo03.collapse.navbar-collapse
            ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                li.nav-item.barra
                    a.nav-link(href='/inicio') Inicio 
                li.nav-item.barra
                    a.nav-link(href='/administrar') Mis Proyectos 
                li.nav-item.dropdown.barra
                    a.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Seguridad
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='/change-password') Cambio de Clave
                li.nav-item.dropdown.barra
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Usuario
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='/change-data') Actualizar Datos
            form.form-inline.my-2.my-lg-0
                // input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                .btn-group
                    a.btn.btn-light.disabled #{usuario.nombre} #{usuario.apellido}
                    a.btn.btn-outline-danger.my-2.my-sm-0(href="/") Salir
block content
