extends layout

block content
    .card.mx-auto.rounded.border-secondary(style='max-width:500px;')
        h5.card-header.bg-danger.text-capitalize.text-white 
            | Ha sido registrado satisfactoriamente
        .card-body
            p Por favor, inicie sesión para continuar
            a.btn.btn-success(href='/') Acceder